html, body {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
body {
	color: white;
	font-family: 'Sniglet', cursive;
}
.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: #A2BCE0;
}

.gameInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	width: 90%;
}

h1 {
	font-size: 40px;
}

.tamasHealth {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	height: 25%;
	width: 90%;
	background: lightblue;
	border: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#hunger, #sleepiness, #boredom {
	flex: 1;
	padding-top: 5%;
	text-align: center;
	font-size: 12px;
	/* align-items: center; */
}

.hungerDisp, .boredomDisp, .sleepinessDisp  {
	display: flex;
	flex-direction: row;
	flex: 1;
	border-top:1px solid white;
	border-bottom: 1px solid white;
}

.boredomDisp {
	border-bottom: none;
}

#notHungry, #notSleepy, #notBored {
	flex-grow: 10;
	background: #87ffb7;
	border-right: 1px solid white;
}

#addHunger, #addSleepy, #addBored {
	flex-grow: 1;
	background: #ff9387;
}

.gameplay {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 2;
	height: 100%;
	width: 100%;
	background: #0B5563;
}

.plastic {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #BEB8EB;
	height: 75%;
	width: 400px;
	border-top-left-radius: 55%;
	border-top-right-radius: 55% ;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.screen {
	display: flex;
	flex-direction: row;
	background: #F2F0A4;
	width: 65%;
	height: 35%;
	border: 2px solid white;
	border-radius: 10%;
}
#leftScreen {
	flex: 3;
}
#rightScreen {
	flex: 2;
}
#time {
	color: white;
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 15%;
	height: 60px;
	width: 70%;
}

.button {
	background-color: #5299D3;
	border: 1px solid white;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	box-shadow: 0 2px #666;
}

.button:hover {
	box-shadow: 1 2px #666;
}

.button:active {
	box-shadow: none;
  transform: translateY(2px);
}
